
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}

.clock-body{
    position: absolute;
    padding: 1rem;
    background-color: rgb(7, 4, 37);
    border-radius: 15px;
}

.clock {
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    margin: auto;
    border-radius: 40px;
    
}

.clock > i {
    padding-top:4.52rem;
    padding-bottom: 4.52rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 100;
}


.clock > p, .fa-clock{
    background-color: rgb(184, 238, 255);
    padding-top:4rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2.4rem;
    margin: 0.8rem;
    border-radius: 10px;
    color: rgb(4, 7, 36);
    
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
